.root {
  width: 100%;
  height: 100%;
  background-color: rebeccapurple;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10%;
}

.title{
  font-size: 10rem;
  color: white;
}

.button-option{
  background-color: transparent;
  border: none;
  color: white;
  font-size: 5rem;
	font-family: 'Rubik Vinyl', cursive;
  cursor: pointer;
  padding: 1rem;
  border-radius: 10px;
  transition: 300ms;
  border: 1px solid #ffffff;
  box-shadow: 0 0 10px #ffffff;
  text-transform: uppercase;
}

.button-option:hover{
  border:1px solid rebeccapurple;
}

.box-text{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.box-image {
  width: 50%;
  max-width: 500px;
}

.box-image img {
  width: 100%;
  height: auto;
}

.wrong {
  background-color: red;
}

.correct {
  background-color: green;
}

@media screen and (max-width: 1222px) {
  body {
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  .box-text{
    flex-direction: column;
    gap: 20px;
  }
}